node_modules
npm-debug.log
.npm
.env
.env.test
.env.production
.cache
.tmp
dist
build
.git
.gitignore
README.md
.DS_Store
.vscode
.idea
*.log
coverage
.nyc_output
.strapi-updater.json
*.db
*.db-journal